@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300;400&display=swap');


$main-color-mostaza: #fcbb39;
$second-color-mostaza: #FAC955;
$main-light-background-color:#FEF4E0;
$main-orange-color:#F66932;
$main-grey-color: rgb(80, 80, 82);
$main-black-color:rgb(41, 41, 41);
