@import './../utils/variables.scss';

.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
    margin-left: 1em;
    p{
        font-size: 1.6em;
        margin: 12px;
        // max-width: 5vw;
    }
    span{
        font-size: 1.6em;
        font-weight: bolder;
        margin: 0 12px;
    }
    button{
        margin:5px 0 5px 12px;
        background-color: $main-orange-color;
        width: 6em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.3em;
        border-radius: 5px;
    }
    button:hover{
        box-shadow: 2px 0px 23px $main-black-color;

    }
}
.imgProduct{
    max-width: 4em;
    // min-width: 3vw;
    border-radius: 5px;
    margin-right: 13px;
}
.deleteCross{
    margin-left: 15px;
    width: 6%;
}
.orderDoneMessage{
    font-family: Labrada;
    font-size: 1.3em;
    font-weight: bold;
    padding: 8px 4px 10px;
    background-color: $second-color-mostaza;
    border-radius: 7px;
    text-align: center;
}